:root {
    --color-blue: #00a8b8;
    --color-light-blue: #84ccd6;
    --color-dark-blue: #004b92;
    --color-light-gray: #93989c;
    --color-dark-gray: #505455;
    --color-orange: #e7401b;

    --font-primary: Corbel;
}